<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>Greystone</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.15.0.min.css" />
</head>
<body>
    <!-- Global Nav Bar -->
    <header class="p-navigation is-dark" id="navigation">
        <div class="p-navigation__row">
            <div class="p-navigation__banner">
                <div class="p-navigation__logo">
                <img src="/static/greystone.png" />
                    <a class="p-navigation__link" href="/">
                        <strong class="p-navigation__text" style="font-size: 1.25rem;"></strong>
                    </a>
                </div>
                <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
                <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
            </div>
            
            <nav class="p-navigation__nav" aria-label="Main menu">
                <ul class="p-navigation__items">
                    <li class="p-navigation__item {% if request.path == '/' %}is-selected{% endif %}">
                        <a class="p-navigation__link" href="/">Dashboard</a>
                    </li>
                    <li class="p-navigation__item {% if request.path == '/properties' %}is-selected{% endif %}">
                        <a class="p-navigation__link" href="/properties">Server Properties</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content Area -->
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- Vanilla Framework JavaScript -->
    <script>
        const nav = document.getElementById('navigation');
        const navOpen = document.querySelector('.p-navigation__toggle--open');
        const navClose = document.querySelector('.p-navigation__toggle--close');

        if (navOpen && navClose && nav) {
            navOpen.addEventListener('click', function(e) {
                e.preventDefault();
                nav.classList.add('has-menu-open');
            });
            navClose.addEventListener('click', function(e) {
                e.preventDefault();
                nav.classList.remove('has-menu-open');
            });
        }
    </script>
</body>
</html>
